[Desktop Entry]
Encoding=UTF-8
Name=Realtime
Comment=Realtime P2P Cryptocurrency
Exec=realtime-qt %u
Terminal=false
Type=Application
Icon=realtime128
MimeType=x-scheme-handler/realtime;
Categories=Office;Finance;
Name[en_US]=realtime-qt.desktop
