[Desktop Entry]
Encoding=UTF-8
Name=KYD
Comment=KYD P2P Cryptocurrency
Exec=kydcoin-qt %u
Terminal=false
Type=Application
Icon=kydcoin128
MimeType=x-scheme-handler/kydcoin;
Categories=Office;Finance;
Name[en_US]=kydcoin-qt.desktop
